@import "tailwindcss";
/* @import "tailwindcss/preflight";
@tailwind utilities; */
@font-face {
  font-family: abcNormal;
  src: url("/fonts/abcNormal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: timesNow;
  src: url("/fonts./timesNow") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.moving-images {
  /* display: inline-block; */
  /* white-space: nowrap; */
  animation: move;
  animation-timing-function: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.circle {
  height: 50px;
  width: 50px;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
  margin: 1vw 2vw;
}
@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: abcNormal, timesNow, Times New Roman, Arial, sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}
